.wrap-content{
    display: none;
}

.ham-content{
    display: block;
}

.ham-content ul li{
    list-style-type: none;
    padding: 10px;
}

.ham-content ul li a{
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.ham-nav {
    width: 80%;
    margin-top: 40px;
    margin-left: 30px;
}

.ham-nav, .close {
    display: inline-block;
}

.close span{
    background-color:lightgrey;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px; 
}

.close span:hover{
    cursor: pointer;
}

.close span i{
    color: black;
    padding: 20px;
    font-size: 20px;
}

.nav-wrapper span {
    font-weight: 100;
    font-size: 30px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 36px;    
}

.fixed{
    display: none;
}

.hr-text{
    font-size: 25px;
}

.desc p{
    font-size: 17px;
}

.desc .welcome{
    font-size: 24px;
}

.expr-img img{
    width: 50%;
}

.info{
    text-align: center;
}

.name{
    padding-top: 20px;
}

.social-media-wrapper{
    padding-top: 20px;
}

