body{
    font-family: 'Libre Baskerville', serif;
    background-color: #f4f4f7;
}

.loading-page{
    margin: 0 auto;
    width: 80%;
}

.top-center, .content{
    width: 70%;
    margin: 0 auto;
}

.name{
    text-align: center;
    text-align: center;
    padding-top: 0;
    font-weight: 200;
    padding-bottom: 20px;
}

.name h1{
    font-size: 30px;
}

.nav{
    margin-bottom: 40px;
}

.nav-bar{
    display: inline;
    clear: both;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

li a {
    font-size: 13px;
}

.pic{
    float: none;
    margin: 0 auto;
}

.desc p{
    font-size: 13px;  
    text-align: center; 
}

p a{
    font-size: 1em; 
}

.ham {
    display: inline;
    font-size: 35px;
    position: fixed;
    top: 3.6%;
    right: 4.5%;
}

.social-media{
    /*display: block;*/
    text-align: center;
}

.resume{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.nav{
    display: none;
}

img{
    padding-bottom: 30px;
}