body{
    font-family: 'Montaga', serif;
}

ul {
    padding: 0;
}

.ham-wrapper{
    display: none; 
    transition: all 1s ease-in;
}

.nav-toggle{
    visibility: hidden;
}

.top-center{
    padding-top: 30px;
    margin: 0 auto;
}

.nav-wrapper{
    position: relative;
}

.nav-wrapper, .social-media-wrapper, .experience {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color:#f7f9fc;
}

.resume{
    margin: 0 auto;
}

.resume p{
    font-size: 18px;
    margin-top: 10px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.resume p a{
    text-decoration: none;
    color: black;
}

.resume p:hover{
    background-color: #eaecef; 
}

.hr-container {
    max-width: 50%;  
    margin: 40px auto;
    padding-top: 20px; 
    text-transform: uppercase;
}

.hr-text {
    font-size: 30px;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    /* opacity: .5; */
  }

.hr-text::before{
    content: "";
    background: linear-gradient(to right, transparent, black, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;

}

.hr-text::after{
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    font-weight: 500;
}

.hr-container .white::after{
    background-color: white;
}

.hr-container .grey::after{
    background-color: #f7f9fc;
}

nav{
    margin-top: 20px;
}

.all-nav li{
    display: inline-block;
}

.all-nav li a{
    font-size: 20px;
    padding-right: 25px;
    color:black;
    text-decoration: none;
}

.all-nav li a:hover{
    color: #e8ca6f;
}

.all-nav i:hover{
    opacity: 0.5;
}

.social-nav{
    margin: 0 auto;
}

.social-media i{
    font-size: 40px;
}

.img_container{
    text-align: center;
}

.img_container img{
    width: 80%;
}

.main-content{
    padding-bottom: 20px;
}

.img-content, .desc-content{
    padding-top: 20px; 
}

.desc p {
    color: #50555c;
    font-size: 20px;
}

.desc .welcome{
    font-size: 28px;
}

.desc a{
    color: black;
    text-decoration: none;
}

.desc a:hover{
    opacity: 0.3;
}

.expr{
    padding: 20px;
}

.expr-img{
    text-align: center;
}

.expr-img img{
    border: 2px solid #e0e0d1;
    border-radius: 30px;
    width: 70%;
}

.info .name{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #37c;
}

.info .position{
    font-size: 17px;
    color: #5e9516;
}

.info .place{
    font-size: 15px;
    color: #50555c;
    padding-bottom: 30px; 
}

.info p {
    line-height: 1.45;
    color: #50555c;
}

.content{
    display: none;
}

