body{
    font-family: 'Montaga', serif;
    overflow: auto;
    position: relative;
}

.ove{
    overflow: hidden;
}

.background{
    position: relative;
    background-image: url(../../images/img5.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Special Elite', cursive;
}


.nav-container{
    font-family: Arial, Helvetica, sans-serif;
    height: 40%;
    width: 100%;
    /* visibility: hidden; */
    position: fixed;
    top: 0;
    /* transform: translateY(-100%);
    transition: transform 0.3s ease-in; */
    z-index: 999;
}

.list-container{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 40%;
    background-color: white;
    visibility: hidden;
    z-index: 2;
}

.list-container ul{    
    margin: 0 auto; 
    padding-top: 50px; 
}

.list-container ul li{    
    list-style: none;
    padding: 15px;
    padding-left: 30px;
}


.list-container ul li a{   
    font-size: 17px; 
    text-decoration: none;
    letter-spacing: 2px;
}

.list-container ul li a{
    color: #333;
    font-weight: 500;
}


/* .nav-container ul{
    padding-top: 20px; 
}

.nav-container ul li{
    padding: 10px;
    list-style: none;
    letter-spacing: 2px;
    font-size: 20px;
    /* border-bottom: 1px solid black; */
/* } */
/* 
.nav-container ul li{
    content: " ";
    border-bottom:1px solid grey;
    width:40%;
    display:block;
    margin:0 auto;
}

.nav-container ul li a{
    text-decoration: none;
    color: black;
}  */

.active{
    visibility: visible;
}

/* .active{
    transform: translateY(0);
} */

.burger{
    position: fixed;
    /* position: absolute; */
    right: 15px;
    top: 15px;
    padding: 4px;
    background: #333;
    border-radius: 2px;
}

.burger{
    display: none;
}

.burger div{
    height: 3px;
    width: 25px;
    background-color: #e2e2e2;
    margin: 5px;
}

.toggle {
    background-color: white;
}


.toggle .l1{
    transform: rotate(-45deg)  translate(-5px, 6px) 
}

.toggle .l2{
    opacity: 0; 
}

.toggle .l3{
    transform: rotate(45deg) translate(-5px, -6px)  
}

.titles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    display: inline-block;
  }

.titles p{
    color: white;
}

.titles h4{
    font-size: 30px;
}

.titles h1{
    text-transform: uppercase;
    font-size: 60px;
}

.toggle div{
    background-color: black;
}

.component{
    display: inline-block;
    position: relative;
}

.title:before, .title:after{
    content: " ";
    display: inline-block;
    height: 2px;
    margin: 0 10px;
    position: absolute;
    top: 57%;
    width: 80px;
    zoom: 1;
    background: white;
}

.title:before{
    right: 100%;
}

.title:after{
    left: 100%;
}

.headline-container{
    display: inline-block;
}

.headline {
    font-size: 40px;
    font-weight: 800;
    display: inline-block;
    position: relative;
    max-width: 100%;
    zoom: 1;
}

.headline:before, .headline:after{
    content: " ";
    display: inline-block;
    height: 2px;
    margin: 0 10px;
    position: absolute;
    top: 50%;
    width: 80px;
    zoom: 1;
    background: black;
}

.headline:before{
    right: 100%;
}

.headline:after{
    left: 100%;
}

.headline-container{
    margin-top: 50px;
    margin-bottom: 20px;
}


ul {
    padding: 0;
}

.ham-wrapper{
    display: none; 
    transition: all 1s ease-in;
}

.nav-toggle{
    visibility: hidden;
}

.top-center{
    padding-top: 30px;
    margin: 0 auto;
}

.nav-wrapper{
    position: relative;
}

.nav-wrapper, .social-media-wrapper, .experience, .footer{
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color:#f7f9fc;
}

.resume{
    margin: 0 auto;
}

.resume p{
    font-size: 18px;
    margin-top: 10px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.resume p a{
    text-decoration: none;
    color: black;
}

.resume p:hover{
    background-color: #eaecef; 
}

.hr-container {
    max-width: 50%;  
    margin: 40px auto;
    padding-top: 20px; 
    text-transform: uppercase;
}

.hr-text {
    font-size: 30px;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    /* opacity: .5; */
  }

.hr-text::before{
    content: "";
    background: linear-gradient(to right, transparent, black, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;

}

.hr-text::after{
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    font-weight: 500;
}

.hr-container .white::after{
    background-color: white;
}

.hr-container .grey::after{
    background-color: #f7f9fc;
}

nav{
    margin-top: 20px;
}

.all-nav li{
    display: inline-block;
}

.all-nav li a{
    font-size: 20px;
    padding-right: 25px;
    color:black;
    text-decoration: none;
}

.all-nav li a:hover{
    color: #e8ca6f;
}

.all-nav i:hover{
    opacity: 0.5;
}

.social-nav{
    margin: 0 auto;
}

.social-media i{
    font-size: 40px;
}

.img_container{
    text-align: center;
}

.img_container img{
    border-radius: 5px;
    width: 80%;
}

.main-content{
    padding-bottom: 20px;
}

.img-content, .desc-content{
    padding-top: 20px; 
}

.desc p {
    color: #50555c;
    font-size: 20px;
}

.desc .welcome{
    font-size: 28px;
}

.desc a{
    color: black;
    text-decoration: none;
}

.desc a:hover{
    opacity: 0.3;
}

.expr{
    padding: 20px;
}

.expr-img{
    text-align: center;
}

.expr-img img{
    display: block;
    margin: 0 auto;
    border: 2px solid #e0e0d1;
    border-radius: 30px;
    width: 70%;
}

.info .name{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #37c;
}

.info a:hover{
    text-decoration: none;
}

.info .name:hover{
    opacity: 0.7;
}

.info .position{
    font-size: 17px;
    color: #5e9516;
}

.info .place{
    font-size: 15px;
    color: #50555c;
    padding-bottom: 30px; 
}

.info p {
    line-height: 1.45;
    color: #50555c;
}
.info a{
    color: black;
}

.info a:hover{
    opacity: 0.5;
}

.content{
    display: none;
}

.fan-wrapper{
    margin-top: 30px; 
}

.fan-wrapper img{
    padding: 2px;
    padding-top: 10px;
    border-radius: 10px;;
}