body{
    font-family: 'Libre Baskerville', serif;
    background-color: #f4f4f7;
}

.loading-page{
    margin: 0 auto;
    width: 80%;
}

.top-center, .content{
    width: 80%;
    margin: 0 auto;
}

.name{
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.nav{
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto; 
    width: 80%;
    height: 130px;
    padding-top: 10px;
}

ul{
    text-align: center;
    line-height: 36px;
    margin: 0 auto;
    padding: 0;
}

.nav-bar{
    letter-spacing: .03em;
/*    width: 30%;*/
    display: block;
    float: left;
    list-style: none;
    padding: 10px;
}

a{
    text-decoration: none !important;
    color: black;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 200;
}


img {
    max-width: 100%;
    /*width: 480px;*/
    width: 340px;
/*    margin-right: 10px;*/
/*    float: left;*/
}

/*
.pic, .desc{
    width: 50%;
    float: left;
}
*/

.pic{
    width: 40%;
    float: left;
}


.desc > p{
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-justify: auto;
/*    padding-right: 100px;*/
    /*padding-bottom: 80px;*/
/*    padding: 100px;*/
}

p > a{
    color:blue;
}

.content::after{
    content: "";
    display: block;
    clear: both;
}


/*.resume, .social-media{
    margin: 0 auto;
    text-align: center;
}*/

/*.resume{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
*/
.btn{
    text-align: center;
    vertical-align: middle
    font-size: 20px;
    width: 130px;
    height: 50px;
    color: black;
    background-color: #f4f4f7;
    border: 2px solid black;
    /*margin-bottom: 10px;*/
}

.btn:hover{
    background-color: black;
    color: #f4f4f7; 
    border: 2px solid black;
}

.fab, .fas{
    font-size: 30px;
    display: inline-block;
    padding: 10px;
    padding-top: 80px;
}
